---
layout: nil
---
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="{{ site.lang }}"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="{{ site.lang }}"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="{{ site.lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ site.lang }}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title and page.title != '' %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    {% assets site.css %}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{% assets ico/favicon.ico @path %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% assets ico/apple-touch-icon-144-precomposed.png @path %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% assets ico/apple-touch-icon-114-precomposed.png @path %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% assets ico/apple-touch-icon-72-precomposed.png @path %}">
    <link rel="apple-touch-icon-precomposed" href="{% assets ico/apple-touch-icon-57-precomposed.png @path %}">

    {% if site.asides.themes %}{% include script.html %}{% endif %}
  </head>
  <body>
    <header id="header">
      {% include header.html %}
    </header>

    <nav id="navbar">
      {% include navbar.html %}
    </nav>

    <div class="container-fluid">
      <div class="row-fluid">

        <aside id="sidebar" class="col-xs-8 col-sm-5 col-md-4 col-lg-3 pull-right">
          {% include asides/deadlines.html %}
        </aside><!--/span-->

        <div id="main" class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
          {{ content }}
        </div>

        <aside id="sidebar" class="col-xs-8 col-sm-5 col-md-4 col-lg-3">
          {% include asides.html %}
        </aside><!--/span-->

      </div><!--/row-->
    </div> <!-- /container -->

    <hr>

    <footer id="footer">
      {% include footer.html %}
    </footer>

    {% assets site.js %}
  </body>
</html>
